body {
    margin: 0; 
    padding: 0; 
    width: 100%;
    min-width: 300px; 
    min-height: 100vh;
    background-image: url(https://pbs.twimg.com/media/FEqJ_sEVkAYTgbG?format=jpg&name=large);
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto; 
    box-sizing: border-box;}
/* BODY END */
/* INDEX */
#gridhome {display: grid;
    grid-template-areas:
        "header1 header1 header1"
        "intro imagefill2 textfill1"
        "debutmv1 debutmv1 mvtext"
        "footer1 footer1 footer1" ;
    grid-template-rows: 74px 480px 480px 20px;
    grid-template-columns: 1fr 3fr 2fr;}
header {
    grid-area: header1;
    background-color:rgb(159, 151, 177, 0.75);
    background-size: cover;
    background-position: center;}
footer {
    grid-area: footer1;
    background-color: rgb(159, 151, 177, 0.75);
    margin-bottom: 0px;}
.intro {
    grid-area: intro;
    align-self: center;
    justify-self: center;}
.textfill {
    grid-area: textfill1;
    align-self: center;
    justify-self: center;}
.imagefill {
    grid-area: imagefill2;
    background-image: url(https://pbs.twimg.com/media/FGkLDdOUUAA0h9O?format=jpg&name=4096x4096); background-size: cover; background-position: center;}
.textfill2 { grid-area: mvtext;
    align-self: center;
    justify-self: center;}
.debutmv {
    grid-area: debutmv1;
    align-self: center;
    justify-self: center;}

.menu {
    list-style: none; 
    display: inline; 
    text-align: center; 
    display: inline-block; 
    vertical-align: top;
    word-spacing: 30px;
    font-style: italic;}
.menutext:hover {
    background-color:rgba(133, 115, 177, 0.5);}
/* INDEX END*/
/* Grid Videos*/
#gridvideos 
    {display: grid;
    grid-template-areas:
        "header1 header1"
        "ringxring info1"
        "snowynight info2"
        "collabinfo collabinfo"
        "collab1 collab2"
        "footerv footerv";
    grid-template-rows: 74px 320px 320px 50px 320px 20px;
    grid-template-columns: 50% 50%;}
.headervid {grid-area: header1;
    background-color:rgb(159, 151, 177, 0.75);
    background-size: cover;
    background-position: center;}
.ringxring {
    grid-area: ringxring;
    align-self: center;
    justify-self: center;}
.infomv {
    grid-area: info1;
    align-self: center;
    justify-self: left; }
.snowynight {
    grid-area: snowynight;
    align-self: center;
    justify-self: center;}
.infomv1 {
    grid-area: info2;
    align-self: center;
    justify-self: left;}
.fcollab {
    grid-area: collab1;
    align-self: right;
    justify-self: right;}
.rcollab {
    grid-area: collab2;
    align-self: left;
    justify-self: left;}
.collabinfo {
    grid-area: collabinfo;
    align-self: center;
    justify-self: center;}
.footervideos {
    grid-area: footerv;
    background-color: rgb(159, 151, 177, 0.75);
    margin-bottom: 0px;}
/*Grid Videos end */
/*Grid News*/
#gridnews
    {display: grid;
    grid-template-areas:
        "header1"
        "headerfeed"
        "twitterfeed"
        "footernews";
    grid-template-rows: 74px 80px 880px 20px;
    grid-template-columns: 100%;}
.headernews {grid-area: header1;
    background-color:rgb(159, 151, 177, 0.75);
    background-size: cover;
    background-position: center;}
.headerfeed {
    grid-area: headerfeed;
    align-self: center;
    justify-self: center;}
.twittertimeline {
    grid-area: twitterfeed;
    align-self: center;
    justify-self: center; }
.footernews {
    grid-area: footernews;
    align-self: center;
    justify-self: center;}
/*Grid News end */
/* Media Query Index */


/* Media Query End */
li {
    display: inline-block; 
    text-align: center;  
    line-height: 40px;
    word-spacing: 0px;
    position: relative;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;}
ul.memberslist { 
    text-align: center;
    margin: 0 auto; 
    display: inline-block;
    overflow: hidden; 
    word-spacing: 20px;}
li.memberslist:hover {
    font-style:italic}
.textcolor {
    color: crimson;}
h1 {
    color:rgb(72, 168, 208)}
span {
    color: crimson;}
h2 {
    color: rgb(72, 168, 208); 
    font-size: 150%;}
h3 {
    color: black}
article {
    color: crimson; 
    font-weight: bold;
    font-size: 150%;}
table { 
    color: crimson; 
    border-style: double; 
    border-color: black; 
    background-color: rgb(72, 168, 208, 0.5);}
hr {
    color: black;}
.memberspic {
    text-align: center;}
.form {
    font-size: x-large;}
